* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  color: white;
  font-family: Roboto;
  font-weight: 300;

}

.current-weather-background {
  background-image: linear-gradient(to right, #8589FF, #E8E9FF);
  clip-path: ellipse(100% 100% at top);
  height: 350px;

}

.current-weather-background.night {
  background-image: linear-gradient(to right, #060965, #575a95);
}

header {
  display: flex;

}

.hamburger {
  margin: 15px;
  width: 33px;
  background: none;
  color: white;
}



.current-weather-container {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.current-weather-top {
  display: flex;
  align-items: center;
}

.local-sun-info {
  display: flex;
  gap: 20px;


}

button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 80px;
  height: 80px;
  border: none;
  padding: 25px;
  background-color: #757AFF;
  color: white;
  border-radius: 50%;
  box-shadow: 0px 2px 10px rgba(0, 24, 164, 0.15);
}






/* Paragraphs */
.celcius {
  font-size: 34px;
}

.big-paragraph {
  font-size: 110px;
}

.medium-paragraph {
  font-size: 34px;
}

.small-paragraph {
  font-size: 22px;
}


/* nedre delen med forecasten */

.forecast-container {
  background-color: white;
  display: none;


  /* background: #FFF; */
  margin-top: 20px;

}